---
import SiteLayout from '../layouts/SiteLayout.astro';
---

<SiteLayout title="Swimming Pool Construction - Renovation - Repairs - Costa del Sol"
 desc="Swimming pool construction, renovation and repair, fresh water and salt filtration systems - tiled or decked surrounds and patios - accompanying BBQ, bar.">
<h1 class="entry-title" itemprop="headline">
    About Westar</h1>
   
    
    <h2>Swimming Pool Construction, Renovation and Repair</h2>
    
    <div class=" col-md-8">
    <p>Westar Pools were established on the Costa del Sol in 2001, and since that time have built and renovated many, many pools for individuals and urbanizations. We were constantly being asked:</p>
    <dl>
    <dt>Can you build a retaining wall ?</dt>
    <dl>YES</dl>
    <dt>Can you relay my patio ?</dt>
    <dl>YES</dl>
    <dt>Do you supply and fit decking ?</dt>
    <dl>YES</dl>
    <dt>Can you create individual logos for pools ?</dt>
    <dl>YES</dl>
    <dt>Can you build a Jacuzzi into my pool ?</dt>
    <dl>YES</dl>
    <dt>Can you landscape my garden ?</dt>
    <dl>YES</dl>
    <dt>Can you build a luxury outdoor living space</dt>
    <dl>YES</dl>
    </dl>
    </div>

    </SiteLayout>