---
import SiteLayout from '../layouts/SiteLayout.astro';
---


<SiteLayout title="Swimming Pool Construction - Renovation - Repairs - Costa del Sol"
 desc="Swimming pool construction, renovation and repair, fresh water and salt filtration systems - tiled or decked surrounds and patios - accompanying BBQ, bar.">
		
<div id="default-carousel" class="relative lg:h-screen" data-carousel="slide">
    <!-- Carousel wrapper -->
    <div class="text-white lg:text-lg lg:w-96 absolute top-4 left-1 lg:left-52 lg:top-32 z-30 w-72">WESTAR Pools have been constructing, designing and remodeling swimming pools on the Costa del Sol since 2001. Our aim is to provide not only a swimming pool, but an elegant luxury outdoor living experience.</div>
    <div class="relative h-56 overflow-hidden rounded-lg md:h-full">
         <!-- Item 1 -->
        <div class="hidden duration-600 ease-in-out" data-carousel-item>
            <span class="absolute text-2xl font-semibold text-white -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 sm:text-3xl dark:text-gray-800">First Slide</span>
            <img src="31.jpg" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
        </div>
        <!-- Item 2 -->
        <div class="hidden duration-600 ease-in-out" data-carousel-item>
            <img src="11.jpg" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
        </div>
        <!-- Item 3 -->
        <div class="hidden duration-600 ease-in-out" data-carousel-item>
            <img src="32.jpg" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
        </div>
    </div>
    <!-- Slider indicators -->
    <div class="absolute z-30 flex space-x-3 -translate-x-1/2 bottom-5 left-1/2">
        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 1" data-carousel-slide-to="0"></button>
        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"></button>
        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 3" data-carousel-slide-to="2"></button>
    </div>
    <!-- Slider controls -->
    <button type="button" class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
        <span class="inline-flex items-center justify-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
            <svg aria-hidden="true" class="w-5 h-5 text-white sm:w-6 sm:h-6 dark:text-gray-800" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path></svg>
            <span class="sr-only">Previous</span>
        </span>
    </button>
    <button type="button" class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
        <span class="inline-flex items-center justify-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
            <svg aria-hidden="true" class="w-5 h-5 text-white sm:w-6 sm:h-6 dark:text-gray-800" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
            <span class="sr-only">Next</span>
        </span>
    </button>
</div>

<div>  
    <div class="format lg:format-lg mx-auto m-4">
    <h1>Pool Services Range</h1>
    
    <p>Westar pools offer a wide range of pool services. Complete swimming pool construction. Renovation and Remodeling of pools. Outdoor living gardens and patios. Chiringuitos and BBQs. Please contact us for further information or to discuss your requirements.</p>
        </div>
    <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-4">
        <div class="format lg:format-lg">
            <div class="rounded-t bg-blue-500 text-white p-2.5">Pool Construction</div>
            <div class="bg-white p-4"><p>Westar pools swimming pool constructions are built by excavation, brickwork, steel frame, Gunite concrete, white stone surround, all plumbing, lighting and tiles.</p>
            <p><a href="/services/pool-construction/" >Read More...</a></p>
        </div>
            
        </div>
        <div class="format lg:format-lg">
            <div class="rounded-t bg-blue-500 text-white p-2.5">Pool Renovation</div>
            <div class="bg-white p-4"><p>Renovation of pools includes removal of old or damaged tiles and surrounds. Making pools smaller, larger or shallower. Building steps or installing ladders.</p>
            <p><a href="/services/pool-renovayion/" >Read More...</a></p>
            </div>
        </div>
        <div class="format lg:format-lg">
            <div class="rounded-t bg-blue-500 text-white p-2.5">Outdoor Living</div>
            <div class="bg-white p-4"><p>Complete your new pool with a luxurious new Chiringuito, Outdoor Kitchen, BBq area, Comfortable or Dining Seating, Mood lighting, Jacuzzi, Fireplaces or Fountains.</p>
            <p><a href="/services/outdoor-living/" >Read More...</a></p>
            </div>
        </div>
        <div class="format lg:format-lg">
            <div class="rounded-t bg-blue-500 text-white p-2.5">Pool Repairs</div>
            <div class="bg-white p-4">Repairs to your pool can include subsidence, leaks, renewing pumps, filters, electrics and lights. Underwater tiling and white stone surround repairs.</div>
        </div>
        <div  class="format lg:format-lg">
            <div class="rounded-t bg-blue-500 text-white p-2.5">Patios</div>
            <div class="bg-white p-4">Finishing touches including tiled or decked patios, terracing, Sunken or mood lighting and construction of retaining walls, built in stone or concrete.</div>
        </div>
        <div  class="format lg:format-lg">
            <div class="rounded-t bg-blue-500 text-white p-2.5">Pool Heaters and Covers</div>
            <div class="bg-white p-4">Installation of compatible electric pool heaters. Electric and manual pool covers. New water filtration systems -including salt clorinators and fresh water systems.</div>
        </div>

    </div>

    <div class="format lg:format-lg mx-auto m-4">
    <p>If you are interested in a new swimming pool, renovating an old one or creating a fantastic outdoor living space. Call or WhatsApp Us on +34 619 246 372 or contact us by email using the <a href="/contact/">contact form</a></p>

    <p>We will come along and discuss your requirements. We can arrange for an Architect and local planning permissions and finally give you a full and detailed quote.</p>  
    </div>
</div>
	
</SiteLayout>

