---
const d = new Date();
let year = d.getFullYear();
---
<footer class="mt-6">
    <hr>
    <div class="flex justify-center my-4">
        <img width="100" src="/img/westar-logo.jpg" alt="westar pools"/>
    </div>
    <div class="flex justify-center">
        <p>&copy 2001 - {year} WESTAR POOLS All rights reserved</p>
    </div>
</footer>