<div class="bg-blue-100">  
    <h1>Pool Services Range</h1>
    
    <p>Westar pools offer a wide range of pool services. Complete swimming pool construction. Renovation and Remodeling of pools. Outdoor living gardens and patios. Chiringuitos and BBQs. Please contact us for further information or to discuss your requirements.</p>

    <div class="grid grid-cols-3 gap-4">
        <div>
            <div class="rounded-t bg-blue-500 text-white p-2.5">Pool Construction</div>
            <div class="bg-white p-4">Westar pools swimming pool constructions are built by excavation, brickwork, steel frame, Gunite concrete, white stone surround, all plumbing, lighting and tiles.</div>
        </div>
        <div>
            <div class="rounded-t bg-blue-500 text-white p-2.5">Pool Renovation</div>
            <div class="bg-white p-4">Renovation of pools includes removal of old or damaged tiles and surrounds. Making pools smaller, larger or shallower. Building steps or installing stainless steel ladders.</div>
        </div>
        <div>
            <div class="rounded-t bg-blue-500 text-white p-2.5">Outdoor Living</div>
            <div class="bg-white p-4">Complete your new pool with a luxurious new Chiringuito, Outdoor Kitchen, BBq area, Comfortable or Dining Seating, Mood lighting, Jacuzzi, Fireplaces or Fountains</div>
        </div>
        <div>
            <div class="rounded-t bg-blue-500 text-white p-2.5">Pool Repairs</div>
            <div class="bg-white p-4">Repairs to your pool can include subsidence, leaks, renewing pumps, filters, electrics and lights. Underwater tiling and white stone surround repairs.</div>
        </div>
        <div>
            <div class="rounded-t bg-blue-500 text-white p-2.5">Patios</div>
            <div class="bg-white p-4">Finishing touches including tiled or decked patios, terracing, Sunken or mood lighting and construction of retaining walls, built in stone or concrete.</div>
        </div>
        <div>
            <div class="rounded-t bg-blue-500 text-white p-2.5">Pool Heaters and Coverss</div>
            <div class="bg-white p-4">Installation of compatible electric pool heaters. Electric and manual pool covers. New water filtration systems -including salt clorinators and fresh water systems.</div>
        </div>

    </div>


    <p>If you are interested in a new swimming pool, renovating an old one or creating a fantastic outdoor living space. Call or WhatsApp Us on +34 619 246 372 or email westarpools@yahoo.co.uk.</p>

    <p>We will come along and discuss your requirements. We can arrange for an Architect and local planning permissions and finally give you a full and detailed quote.</p>   
</div>
<div>
<div class="flex justify-center bg-red-600">
    <p class="w-64">&copy WESTAR POOLS</p>
</div>
</div>