---

---
<div class="flex justify-between mx-auto h-20 pt-4 pb-4 bg-white w-3/4 mx-auto">
    <div class="flex justify-start w-1/4"><img width="100" src="westar-logo.jpg" alt="westar"/><span class="self-center">Westar &nbsp;Pools</span></div>
    <nav class="">
    <a href="/">Home</a>
    <a href="#">Posts</a>
    <a href="#">Contact</a>
    <a href="/about">About</a>
    </nav>

</div>